:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.truncate-name {
  display: inline-block;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  cursor: pointer;
}